<% provide(:title, ' Blog') %>


<h3>Our Blogs <sup pull-right class=""><%= Time.zone.now.strftime("%I:%M %p") %></sup></h3>
<% @posts.each do|post| %>
<ul class="cbp_tmtimeline">
    <li>
        <time class="cbp_tmtime" datetime=""><span><b style="font-size:13px;"><%= post.created_at.strftime("%b. %Y") %></b></span> <span><%= post.created_at.strftime("%d") %></span></time>
        <div class="cbp_tmicon glyphicon glyphicon-calendar"></div>
        <div class="cbp_tmlabel">
            
            <h2><u><%= post.title %></u></h2>
            <p><%= simple_format post.body %></p>
            
        </div>
    </li>
</ul>
<% end %>

